/* base styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #2A2A2A;
    font-family: 'Roboto';
}

a {
    color: #fff;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

/* base styles end*/


.bold_text {
    font-weight: 600;
}

.item__header {
    font-weight: 600;
    padding: 10px 0;
}

.item__list {
    margin-left: 15px;
}

/* header */

.header {
    background: #18232F;
}

.header__text {
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-size: 65px;
    text-transform: uppercase;
}

.header__subtitle {
    font-size: 35px;
    text-align: justify;
}
/* header end */



/* main */

.main {
    min-height: 600px;
}

.main__item-header {
    padding-bottom: 20px;
}

.main__left {
    background: #C9D3C9;
    min-height: 100%;
    padding-bottom: 30px;
    border-left: 2px solid #18232F;
}

.main__left-item,
.main__right-item {
    padding-top: 50px;
}

.main__left-contacts {
    margin-top: 10px;
    max-width: 600px;
    text-align: justify;
}

.main__right {
    background: #fff;
    min-height: 100%;
    padding-bottom: 30px;
    border-right: 2px solid #18232F;
}

/* main end */

/* footer */

.footer {
    background: #18232F;
    height: 100px;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.footer__logo {
    width: 100px;
}

.footer__text,
.footer__text-year {
    color: #fff;
}
/* footer end */

/* https://www.canva.com/ru_ru/shablony/EAD0IkQwCiw-sinee-prostoe-akademiceskoe-rezume/ */